// colors

$green: #538d4e;
$yellow: #b59f3b;

$white-1: #ffffff;
$white-2: #e8e8eb;
$white-3: #d0d1d4;
$dark-grey: #3a3a3c;
$light-grey: #818384;
$black: #121213;

$light-red-1: #d07c6d;
$light-red-2: #c66250;
$dark-red: #81372a;

$light-blue-1: #6da0d0;
$light-blue-2: #5f97cb;
$dark-blue: #264e74;
