.createLobby {
    width: 90%;
    max-width: 500px;
    margin: 0.5rem auto;
    display: flex;
    flex-direction: column;

    .numberInputs {
        display: flex;
        flex-direction: row;

        .numberInputs__input {
            flex: 1;
            &:nth-child(1) {
                margin-right: 0.25rem;
            }
            &:nth-child(2) {
                margin-left: 0.25rem;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .createLobby {
        .numberInputs {
            flex-direction: column;

            .numberInputs__input {
                margin: 0.5rem 0;
            }
        }
    }
}
